streamlit==1.33.0
fyers-apiv3==3.1.14
pandas==2.2.2
numpy==1.26.4
requests==2.31.0
yfinance==0.2.40
plotly==5.22.0
matplotlib==3.8.4
xgboost==2.0.3
openpyxl==3.1.2
feedparser==6.0.10
streamlit-autorefresh==1.0.1
nsepython==2.97
